name: Publish to NPM on release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - run: npm run build
      - run: npm run test

      - name: Publish to NPM
        run: npm publish

        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
